.calendar-page {
  margin: auto;
  padding: 20px;
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px auto;
    max-width: 500px;
  }
  
  .day {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .entry-box {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }
  
  textarea {
    width: 80%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
  }
